<!DOCTYPE html>
<html>
<head>
    <title>TikTok Downloader</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css"/>
</head>
<body>
    <div class="landing">
        <div class="form-box">
            <div class="title">TikTok Downloader</div>
            <div class="text-box">
                <form class="input-group">
                <input type="text" class="input-field" name="url" placeholder="URL" required>
                </form>
                <div class="btn-box">
                    <div id="btn"></div>
                    <button type="button" class="dl-btn">Download</button>
                </div>    
            </div>

    </div>
</body>
</html>